body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 30px;
}
.color{
    color: rgb(255, 255, 255);
}
.flexible-container{
    display: flex;
}
.text{
    width: 50%;
    padding: 2%;
}
.small-image{
    width: 100%;
}
.text image{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, rgb(22, 5, 70));
    color: wheat;
    font-weight: 800;
    padding: 10px 40px;
    border-radius: 10px;
}
.top{
    background-image: url(images/b-image.jpg);
    small-image{
        width: 100%;
    }
}
.image{
    width: 40%;
    padding: 2%;
}
.small-image{
    width: 100%;
}
.upwork{
    text-decoration: none;
    background-image: linear-gradient(orange, rgb(70, 60, 5));
    padding: 10px 40px;
    border-radius: 10px;
    color: rgb(255, 255, 255);

}
.mmiddle{
    background-image: url(images/bimage.jpg);
    background-repeat: no-repeat;
}
.exparinces-itme{
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    border: 10px;
    padding-left: 10px;
}

footer p{
    text-align: center;
}